.grid .cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: grid;
    justify-content: center;
    align-items: center;
}


.grid > div {
    display: grid;
   grid-template-columns:1fr 1fr 1fr;
  width:150px;
}

.container > div {
    display: grid;
    justify-content: center;
    align-items: center;
}
